# =============================================================
# LABORATORIO 3 - TeraTrip Intelligent Data & Analytics
# Variables de entorno — NO compartir ni subir a repositorios
# =============================================================

# --- AWS ---
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=

# --- Data Lake ---
S3_BUCKET_NAME=

# --- Glue / Athena ---
GLUE_DATABASE=teratrip_db
ATHENA_TABLE=booking_analytics
ATHENA_WORKGROUP=wg-teratrip
